# Backend
backend/target/
backend/.mvn/
uploads/

# Frontend
frontend/node_modules/
frontend/build/

# IDEs
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local
